@font-face {
  font-family: "Times New Roman", Times, serif;
  src: local();
}
@import "tailwindcss";
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-[#1e2939] shadow-lg;
  }
  ::-webkit-scrollbar {
    @apply w-1 bg-[#1e2939];
  }
  ::-webkit-scrollbar-thumb {
    @apply rounded-full bg-[#5992b2] /*color trackbar*/;
  }

  @theme {
    --font-times: "Times New Roman", "sans-serif";
  }
}
a.active {
  text-decoration: none;
  font-weight: bold;
  background-color: #112127;
  color: #339999;
}
